.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.card {
  margin-left: 20px;
  width: 23%;
  border-radius: 20px;
  margin-bottom: 30px;
  display: block;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.1);
  background: #6db700;
}

.studentCard {
  padding-left: 120px;
  margin: auto;
  /* border: 2px solid #1b4d89; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  ;

}

.home {
  margin:auto;
  width: 75%;
  font-size: larger;
  color: #1b4d89;
}
.foreign:link, .foreign:visited, .foreign:active{
color:green;
}

li {
  list-style: none;
  display: inline;
  padding-right: 20px;

}

.links {
  color: green;
  list-style-type: none;
  text-Decoration: "underline";
}

.navbar {
    margin: 0 ;
  font-size: 50px;
  color:blue !important
 }

.icon {
  width: 40px;
  height: 40px;
  
}

.form {
  justify-content: center;
  color: #1b4d89;
  height: 110vmin;
  width: 30%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;

}
.register{
  padding: 20px;
  color:#fff;
  border-radius: 20px;
  height: 150vmin;
  background-color: #6db784;
}
.registerForm{
  float:right;
  background-color: green;
  color: #ffffff !important;
}
.closebtn_2{
  float: left;
  background-color: white;
  padding: 20px;
  border: #ffffff;
}
.closebtn_1{
  float: right;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  border: #ffffff;
}
.outLinks {
  height: 10vmin;
  display: flex;
  justify-content: float-left;
  background-color: white;
  padding-right: 50px;
}
.foreign{
  background-color: #fff;
  width:15%;
  text-decoration-color: #ffffff !important;
  margin:auto;  
}
.left{
  background-color: green;
  margin: 10px;
  padding: 10px;
}
.centre{
  margin: auto;

}
.right{
  float: right;
}

.history {
  font-size: 20px;
  padding: 20px;
  justify-content: flex-end;
}
.loc-history:hover{
  background-color: #1b4d89;
  color: #fff;
}

.loc-history{
  background-color: whitesmoke;
  margin: 2px;
  padding: auto;
  
}
.photoShow{
  background-color: tomato;

}


.main {
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  
}

.footer {
  display: flex;
  justify-content:space-evenly;
  color: #f9f9f9;
  background-color: #6db700;
  margin: -10px;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: justify;
}
.date{
  background-color: #6db700;
  color: #ffffff;
  margin: 0 -10px 0 -10px;
  font-size: 30px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    /* infinite 20s */
  }

  .form {
    animation: form-spin  1s linear;
    /* animation: form-scale-up-center 1s ease 0s 1 normal none; */
  }

  .slide {
    animation-direction: slide-direction normal;
  
  }
}

@media only screen and (max-width: 600px) {
  .history{
    display: block;
  }
}


@keyframes form-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

